[submodule "hw02fileio-xinyuJames"]
	path = hw02fileio-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw02fileio-xinyuJames.git
[submodule "hw03-count-words-xinyuJames"]
	path = hw03-count-words-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw03-count-words-xinyuJames.git
[submodule "hw01-cake-xinyuJames"]
	path = hw01-cake-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw01-cake-xinyuJames.git
[submodule "hw04-binarysort-xinyuJames"]
	path = hw04-binarysort-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw04-binarysort-xinyuJames.git
[submodule "hw05-qsort-xinyuJames"]
	path = hw05-qsort-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw05-qsort-xinyuJames
