[submodule "hw02fileio-xinyuJames"]
	path = hw02fileio-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw02fileio-xinyuJames.git
[submodule "hw03-count-words-xinyuJames"]
	path = hw03-count-words-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw03-count-words-xinyuJames.git
[submodule "hw01-cake-xinyuJames"]
	path = hw01-cake-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw01-cake-xinyuJames.git
[submodule "hw04-binarysort-xinyuJames"]
	path = hw04-binarysort-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw04-binarysort-xinyuJames.git
[submodule "hw05-qsort-xinyuJames"]
	path = hw05-qsort-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw05-qsort-xinyuJames
[submodule "string-library-xinyuJames"]
	path = string-library-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/string-library-xinyuJames.git
[submodule "hw07-recursion-xinyuJames"]
	path = hw07-recursion-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw07-recursion-xinyuJames.git
[submodule "hw08-mutual-recursion-xinyuJames"]
	path = hw08-mutual-recursion-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw08-mutual-recursion-xinyuJames.git
[submodule "strings-to-long-integers-xinyuJames"]
	path = strings-to-long-integers-xinyuJames
	url = git@github.com:Purdue-WL-ECE264-Spring2025/strings-to-long-integers-xinyuJames.git
[submodule "hw10-queues-xinyuJames"]
	path = hw10-queues-xinyuJames
	url = git@github.com:Purdue-WL-ECE264-Spring2025/hw10-queues-xinyuJames.git
[submodule "hw11-binary-tree-xinyuJames"]
	path = hw11-binary-tree-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw11-binary-tree-xinyuJames.git
[submodule "hw12-inverting-trees-xinyuJames"]
	path = hw12-inverting-trees-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw12-inverting-trees-xinyuJames.git
[submodule "hw13-calculator-xinyuJames"]
	path = hw13-calculator-xinyuJames
	url = https://github.com/Purdue-WL-ECE264-Spring2025/hw13-calculator-xinyuJames.git
